export DB_USER=root
export DB_PASS=password
export DB_HOST=localhost
export DB_PORT=8888
export DB_NAME=pocdb
export DB_URL=postgresql://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_NAME
export ENTITIES_FOLDER=entities
